.orbit {
  width: calc(var(--orbit-radius) * 2);
  height: calc(var(--orbit-radius) * 2);
  border-radius: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.electron {
  position: absolute;
  width: calc(var(--electron-radius) * 2);
  height: calc(var(--electron-radius) * 2);
  border-radius: 100%;
  top: 180px;
  left: 180px;
}

.orbit0 {
  transform: rotateY(120deg) rotateX(120deg);
}

.electron0 {
  animation: rotate0 4s infinite linear;
}

@keyframes rotate0 {
  0% {
    transform: rotateZ(0deg) translateX(var(--orbit-radius)) rotateZ(-0deg)
      rotateX(-120deg) rotateY(-120deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(var(--orbit-radius)) rotateZ(-360deg)
      rotateX(-120deg) rotateY(-120deg);
  }
}
.orbit1 {
  transform: rotateY(60deg) rotateX(60deg);
}
.electron1 {
  animation: rotate1 4s infinite linear;
}

@keyframes rotate1 {
  0% {
    transform: rotateZ(-0deg) translateX(var(--orbit-radius)) rotateZ(0deg)
      rotateX(-60deg) rotateY(-60deg);
  }
  100% {
    transform: rotateZ(-360deg) translateX(var(--orbit-radius)) rotateZ(360deg)
      rotateX(-60deg) rotateY(-60deg);
  }
}

.orbit2 {
  transform: rotateY(90deg);
}
.electron2 {
  animation: rotate2 4s infinite linear;
}

@keyframes rotate2 {
  0% {
    transform: rotateZ(0deg) translateX(var(--orbit-radius)) rotateZ(-0deg)
      rotateY(-90deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(var(--orbit-radius)) rotateZ(-360deg)
      rotateY(-90deg);
  }
}

.avatar {
  width: calc(var(--avatar-radius) * 2);
  height: calc(var(--avatar-radius) * 2);
  border-radius: 100%;
  position: absolute;
  top: 75px;
  left: 75px;
  animation: move 4s infinite linear;
}

@keyframes move {
  0% {
    transform: translateZ(1px);
  }
  50% {
    transform: translateZ(-1px);
  }
  100% {
    transform: translateZ(1px);
  }
}
